@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@200;500;700&display=swap');

body{
  margin: 0;
  font-family: Poppins;
  background-color: #010824;
  color: #eee;
  font-size: 15px;
  min-height: 100vh;
  background-image: repeating-linear-gradient(
    to right, transparent 0 49px, #eee1 49px 50px
  ),
  repeating-linear-gradient(
    to bottom, transparent 0 49px, #eee1 49px 50px
  );
  &::before{
    content: '';
    position: fixed;
    width: 400px;
    height: 400px;
    background-image: linear-gradient(
      to right, #d02e23, #7a43b6
    );
    z-index: -1;
    top: -200px;
    left: calc(50% - 200px);
    border-radius: 50% 50% 0 0;
    pointer-events: none;
    filter: blur(250px);
  }
}

main{
  width: min(1300px, 100%);
  margin: auto;
}

header{
  position: fixed;
  width: min(1300px, 100%);
  height: 60px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
  backdrop-filter: blur(10px);
  & img{
    width: 75px;
  }
  & .logo, nav{
    display: flex;
    gap: 30px;
    & span{
      cursor: pointer;
      &.active{
        color: #e945e3;
        text-shadow: 0 0 5px #7A43B6;
      }
    }
  } 
}

section{
  width: 1300px;
    max-width: 100%;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    top: 0;
}
section.home{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-content: space-between;
    align-items: center;

    & .content{
      font-family: 'MuseoModerno', system-ui;
      & .name{
        font-size: 7em;
        font-weight: bold;
        line-height: 1em;
        & span{
          background-image: linear-gradient(
            to right, #7BE728, #F3265F, #7F40AC, #7BE728
          );
          background-size: 200% auto;
          animation: gradientAnimation 1s linear infinite;
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          background-clip: text;
        }
      }
      & .des {
        color: #eee5;
        margin: 30px 0;
        border-left: .7em solid #e945e3;
        padding-left: 2em;
      }
      & a {
        display: block;
        font-size: large;
        color: #eee;
        font-weight: bold;
        text-decoration: none;
        border: 1px solid #eee;
        background-color:transparent;
        width: max-content;
        padding: 20px 30px;
        border-radius: 40px;
      }
    }
    & .avatar{
      text-align: right;
      & .card{
        display: inline-flex;
        flex-direction: column;
        width: min(100%, 400px);
        box-shadow: 0 150px 150px #e945e333;
        transition: 0.5s;
        &:hover{
          box-shadow: 0 150px 150px #e945e355;
        }
        & img{
          width: 100%;
          height: min(50vh, 700px);
          object-fit: cover;
          object-position: top;
          clip-path: polygon(
            81% 0, 100% 18%, 100% 100%, 0 100%, 0 0
          );
          border-top-left-radius: 30px;
        }
        & .info{
          background-color: #eee;
          color: #010824;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          text-align: center;
          gap: 20px;
          padding: 20px;
          border-bottom-right-radius: 30px;
          border-bottom-left-radius: 30px;
          font-size: 1.2em;
          & div:nth-child(1), div:nth-child(2), div:nth-child(3){
            font-weight: bold;
          }
        }
      }
    }
  }
section.skills{
    & .title{
      text-align: center;
      font-size: 5vw;
      font-family: 'MuseoModerno', system-ui;
    }
    & .des{
      color: #eee5;
      text-align: center;
      max-width: 500px;
      margin: auto;
    }
    & .list{
      margin-top: 50px;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      justify-content: space-between;
      gap: 3vw;
      position: relative;
      &::before{
        position: absolute;
        content: '';
        width: 70%;
        height: 70%;
        background-image: linear-gradient(-45deg, red, blue);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        border-radius: 20px;
        background-size: 200% auto;
      }
      & .item{
        backdrop-filter: blur(50px);
        padding: 20px;
        border-radius: 20px;
        background-color: #01082488;
        & svg{
            font-size: 30px;
            background-color: #eee2;
            padding: 10px;
            border-radius: 10px;
        }
        & .des{
            text-align: left;
            width: 100%;
            font-size: small;
        }
    }
    }
  }


@keyframes gradientAnimation{
  to{
    background-position: 200% center;
  }
}


